#title-recomendacoes {
  font-family: corpo;
  font-size: 2vw;
  color: var(--vescuro);
  margin-top: 10vh;
  margin-left: 4.5vw;
}

#container-recomendacoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;
  justify-content: center;
  margin-top: 5vh;
}

.recomendacao{
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15vw;
  height: 50vh;
  font-family: corpo;
  background-color: var(--vclaro1);
  border-radius: 1vw;
  border: 10px solid var(--vclaro2);
}

.recomendacao-img {
  width: 10vw;
  align-self: center;
  margin-top: 2vh;
}

.nota1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3.8vh;
  background-color: var(--vclaro1);
  font-family: corpo;
  color: var(--vescuro);
  border-radius: 0.7vw;
  border: 2px solid var(--vmedio);
  position: absolute;
  top: 121vh;
  left: 16.2vw;
}

.nota1 img{
  width: 1vw;
  padding-left: 0.2vw;
}

.nota2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3.8vh;
  background-color: var(--vclaro1);
  font-family: corpo;
  color: var(--vescuro);
  border-radius: 0.7vw;
  border: 2px solid var(--vmedio);
  position: absolute;
  top: 121vh;
  left: 33.8vw;
}

.nota2 img{
  width: 1vw;
  padding-left: 0.2vw;
}

.nota3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3.8vh;
  background-color: var(--vclaro1);
  font-family: corpo;
  color: var(--vescuro);
  border-radius: 0.7vw;
  border: 2px solid var(--vmedio);
  position: absolute;
  top: 121vh;
  left: 52vw;
}

.nota3 img{
  width: 1vw;
  padding-left: 0.2vw;
}

.nota4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3.8vh;
  background-color: var(--vclaro1);
  font-family: corpo;
  color: var(--vescuro);
  border-radius: 0.7vw;
  border: 2px solid var(--vmedio);
  position: absolute;
  top: 121vh;
  left: 69.2vw;
}

.nota4 img{
  width: 1vw;
  padding-left: 0.2vw;
}

.nota5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3.8vh;
  background-color: var(--vclaro1);
  font-family: corpo;
  color: var(--vescuro);
  border-radius: 0.7vw;
  border: 2px solid var(--vmedio);
  position: absolute;
  top: 121vh;
  left: 86.7vw;
}

.nota5 img{
  width: 1vw;
  padding-left: 0.2vw;
}


.recomendacao-b{
  background-color: transparent;
  border: none;
  margin: 0.3vw;
}

.recomendacao-b img{
  width: 2vw;
}

.recomendacao-b:hover {
  cursor: pointer;
}

.recomendacao-bs{
  margin-left: 9.2vw;
  width: 100%;
}

.recomendacao-p{
  width: 12vw;
  margin-left: 1.2vw;
  margin-top: 1vh;
  font-size: 1.1vw;
  color: var(--vescuro);
}

.recomendacao-preco{
  margin-left: 1.2vw;
  margin-top: 3vh;
  font-size: 1.5vw;
  color: var(--vescuro);
}

