.cadastro-title {
  font-size: 2.3vw;
  margin-top: 22vh;
  margin-bottom: 3vh;
  text-align: center;
}

.cadastro-container {
  padding: 60px 20px;
  color: var(--vescuro);
  font-family: corpo;
  background-color: transparent;
  margin-top: -17vh;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 2vh;
  width: 100%;
  max-width: 900px;
}

.cadastro-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto);   
  gap: 2vh 2vw;
  width: 100%;
  max-width: 800px;
}

.cadastro-label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.2vw;
  color: var(--vescuro);
  width: 100%;
}

.cadastro-input {
  background-color: var(--vclaro1);
  border: 3px solid var(--vmedio);
  border-radius: 0.7vw;
  padding: 1vw;
  font-family: "corpo", sans-serif;
  color: var(--vescuro);
  font-size: 1rem;
  width: 25vw;
  height: 6vh;
  box-sizing: border-box;
}

.cadastro-input:focus {
  outline: none;
  border-color: var(--vescuro);
}

.cadastro-error {
  font-size: 1.1vw;
  color: rgb(156, 30, 30);
  text-align: center;
  margin-top: 1vh;
}

.cadastro-button {
  margin-top: 3vh;
  background-color: var(--vclaro2);
  color: var(--vescuro);
  font-family: "corpo", sans-serif;
  border: none;
  border-radius: 0.6vw;
  padding: 12px 24px;
  cursor: pointer;
  transition: border 0.2s ease, background-color 0.2s ease;
  font-size: 1.2vw;
  width: 40%;
  flex-direction: row;
  align-items: center;
}

.cadastro-button:hover {
  border: 3px solid var(--vmedio);
}
