* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6efe8;
}

section {
  padding-top: 80px;
  animation: entrance .2s ease-out;
}

@keyframes entrance {
  from {
    opacity: 0;
    padding-top: 180px;
  } to {
    opacity: .8;
    padding-top: 80px;
  }
}