* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'titulo';
  src: url(../public/fonts/NewSunRegular.ttf);
}

@font-face {
  font-family: 'corpo';
  src: url(../public/fonts/TiltWarp[XROT\,YROT].woff);
}

:root {
  --vclaro1: #e6efe8;
  --vclaro2: #c5d4c7;
  --vmedio: #a9baae;
  --vescuro: #637f76;
  --cl-BI1: #fbfbe2;
  --cl-BI2: #e6d0b1;
  --cl-O1: #deb297;
  --cl-O2: #c98d7b;
  --cl-BN1: #8a6662;
  --cl-BN2: #452926; 
}

body {
  background-image: url('/img/fundo.png');
  overflow-x: hidden;
}

section {
  padding-top: 90px;
  animation: entrance .2s ease-out;
}

@keyframes entrance {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}