.titleBar {
    width: 92vw;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vclaro2);
    border-radius: 16px;
    border: 0.5px solid var(--vmedio);
    margin-top: 40px;
    margin-left: 3.3vw;
    position: sticky;
    top: 5%;
}

#logo-menu {
    width: 20vh;
    height: 20vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/logo.png');
    left: 15%;
}

.tbItems {
    display: flex;
    width: 40vw;
    height: 5vh;
    margin-right: 3vw;
}

#search-bar {
    width: 28vw;
    height: 5vh;
    background-color: var(--vclaro1);
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    margin-bottom: 1.4vh;
    margin-right: 2vw;
    background-image: url('../../../public/img/menu/lupa.png'); 
    background-repeat: no-repeat;
    background-position: left 0.5vw center; 
    background-size: 3vh 3vh; 
    text-indent: 2.4vw;
    font-family: corpo;
    color: var(--vescuro);
    padding-right: 0.6vw;
}

#search-bar:focus {
    outline: none;
    border: 2px solid var(--vmedio);
    color: var(--vescuro);
    font-size: 1rem;
}

#cart {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/menu/carrinho.png');
    margin-right: 1vw;
    cursor: pointer;
}

#liked {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/menu/favs.png');
    margin-right: 1vw;
    cursor: pointer;
}

#user {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/menu/user.png');
    margin-right: 1vw;
    cursor: pointer;
}