.titleBar {
    width: 95vw;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vclaro2);
    border-radius: 16px;
    margin-top: 40px;
    margin-left: 2.5vw;
    position: sticky;
    top: 5%;
}

#logo-menu {
    width: 20vh;
    height: 20vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/logo.png');
    left: 15%;
}

.tbItems {
    display: flex;
    width: 40vw;
    height: 5vh;
    margin-right: 3vw;
}

#search-bar {
    width: 28vw;
    height: 5vh;
    background-color: var(--vclaro1);
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 1.4vh;
    margin-right: 2vw;
    background-image: url('../../../public/img/menu/lupa.png'); 
    background-repeat: no-repeat;
    background-position: left 0.5vw center; 
    background-size: 3vh 3vh; 
}

#search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px var(--vmedio);
    border: 1px solid var(--vmedio);
    color: var(--vmedio);
    font-size: 1.5rem;
}

#cart {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/menu/carrinho.png');
    margin-right: 1vw;
}

#liked {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/menu/favs.png');
    margin-right: 1vw;
}

#user {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/img/menu/user.png');
    margin-right: 1vw;
}