.carousel {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2vh;
}

[carouselBanner] {
    transition-duration: .3s;
} 

.carouselMid {
    width: 70%;
    height: 80%;
    border-radius: 26px;
    animation: appearCarousel .3s;
}

.carouselLeft {
    width: 70%;
    height: 80%;
    border-radius: 26px;
    position: absolute;
    left: -60%;
    animation: appearCarousel .3s;
}

.carouselRight {
    width: 70%;
    height: 80%;
    border-radius: 26px;
    position: absolute;
    right: -60%;
    animation: appearCarousel .3s;
}

@keyframes appearCarousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cControls {
    position: absolute;
    background-color: var(--vclaro1);
    border-radius: 50%;
    border: none;
    width: 2.2vw;
    height: 2.2vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cControls img{
    width: 1.3vw;
}

.cControls.prv {
    left: 15.5%;
}

.cControls.nxt {
    left: 82.1%;
}

#carousel1 {
    background-position: center;
    background-size: cover;
    background-image: url('/img/banners-carrossel/banner1.png');
}

#carousel2 {
    background-position: center;
    background-size: cover;
    background-image: url('/img/banners-carrossel/banner2.png');
}

#carousel3 {
    background-position: center;
    background-size: cover;
    background-image: url('/img/banners-carrossel/banner3.png');
}

#carousel4 {
    background-position: center;
    background-size: cover;
    background-image: url('/img/banners-carrossel/placeholder.png');
}

#carousel5 {
    background-position: center;
    background-size: cover;
    background-image: url('/img/banners-carrossel/placeholder.png');
}