.animais-container {
  padding: 2vw;
  border-radius: 1vw;
  margin-top: 5vh;
}

.animais-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--vclaro2);
  padding: 1.5vw 2vw;
  border-radius: 1.5vw;
  flex-wrap: wrap;
  font-family: corpo;
  width: 90%;
  height: 15vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8vh;
}

.animais-titulo{
  font-size: 2vw;
  color: var(--vescuro);
  max-width: 30%;
  padding-left: 2vw;
}

.animais-subtitulo {
  font-size: 1.5vw;
  text-align: right;
  color: var(--vescuro);
  padding-right: 2.5vw;
  width: 20vw;
}

.animais-img-top {
  position: absolute;
  top: 23vh;          
  left: 50%;       
  transform: translateX(-50%); 
  width: auto;
  max-width: 30%;
  height: auto;
  max-height: 40vh;   
  display: block;
}

.animais-bottom {
  margin-top: 2vw;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--vclaro2);
  border-radius: 1.5vw;
  padding: 2vw;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.animais-img-lateral {
   position: absolute;
   width: 15vw;
   left: 9vw;
}

.animais-categorias {
  display: flex;
  gap: 7vw;
  flex-wrap: wrap;
  margin-right: -6vw;
  align-items: center;
  justify-content: center;
}

.animais-categoria {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.animais-categoria img {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: var(--vclaro1);
  padding: 0.4vw;
  margin-bottom: 0.5vw;
  transition: transform 0.3s ease;
  font-family: corpo;
}

.animais-categoria p {
  font-size: 1vw;
  color: var(--vescuro);
  font-weight: 500;
  font-family: corpo;
}

.animais-categoria:hover img {
  transform: scale(1.05);
}
