/*Imports*/

@font-face {
    font-family: 'New Sun Playful';
    src: url(./newSunPlayful/NewSunRegular.ttf);
}

/*End Imports*/

/*Font styles*/

[textStyle="caption"] {
    font-size: 12px;
    line-height: 16px;
}

[textStyle="body"],
body {
    font-size: 14px;
    line-height: 20px;
}

[textStyle="subtitle"] {
    font-size: 20px;
    line-height: 28px;
}

[textStyle="title"] {
    font-size: 28px;
    line-height: 36px;
}

[textStyle="title-large"] {
    font-size: 40px;
    line-height: 52px;
}

[textStyle="display"] {
    font-size: 68px;
    line-height: 92px;
}

/*End Font Styles*/

/*Font Weight*/

[textWeight="semilight"] {
    font-weight: lighter;
}

[textWeight="regular"],
body {
    font-weight: normal;
}

[textWeight="semibold"] {
    font-weight: 600;
}

[textWeight="bold"] {
    font-weight: bold;
}

/*End Font Weight*/

/*Font Family*/

[textFont="dflt"],
body {
    font-family: 'Segoe UI';
}

[textFont="NSP"] {
    font-family: "New Sun Playful";
}

/*End Font Family*/