#botoes-home {
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.botao-home {
  background-color: var(--vclaro2);
  font-family: corpo;
  font-size: 110%;
  border-radius: 0.5vw;
  width: 20vw;
  height: 5vh;
  align-items: center;
  margin: 0;
  border: none;
  color: var(--vescuro);
  border: 2px solid transparent;
  box-sizing: border-box;
  transition-duration: .1s;
}

.botao-home:hover {
  outline: none;
  border: 2px solid var(--vmedio);
  color: var(--vescuro);
  cursor: pointer;
}